<header class="app-header">
  <div class="app-header__brand">
    <img src="logo.svg" alt="awork logo" class="app-header__logo" />
  </div>
  <nav class="app-header__nav">
    @for (c of criteria; track c) {
      <button
        class="app-header__btn"
        [class.app-header__btn--active]="activeCriterion() === c"
        (click)="switchCriterion(c)"
      >
        {{ c | titlecase }}
      </button>
    }
  </nav>
</header>

@if (loading()) {
  <div class="skeleton">
    @for (i of [1, 2]; track i) {
      <div class="skeleton__group">
        <div class="skeleton__header">
          <span class="skeleton__block" style="width: 200px"></span>
          <span class="skeleton__block skeleton__block--small" style="width: 80px"></span>
        </div>
        @for (j of [1, 2, 3]; track j) {
          <div class="skeleton__row">
            <span class="skeleton__block skeleton__block--circle"></span>
            <span class="skeleton__block" style="width: 140px"></span>
            <span class="skeleton__block" style="width: 200px"></span>
            <span class="skeleton__block" style="width: 100px"></span>
            <span class="skeleton__block skeleton__block--small" style="width: 80px"></span>
          </div>
        }
      </div>
    }
  </div>
} @else {
  <app-user-list
    [rows]="rows()"
    [criterion]="activeCriterion()"
    (headerToggle)="toggleGroup($event)"
  ></app-user-list>
}
