<div class="user-item" (click)="toggleExpand()">
  <img class="user-item__image" [src]="user().image" loading="lazy" />
  <p class="user-item__name">{{ user().firstname }} {{ user().lastname }}</p>
  <p class="user-item__email">{{ user().email }}</p>
  <p class="user-item__phone">{{ user().phone }}</p>
  <p class="user-item__nat">{{ user().registeredAt | date: 'MM/dd/yyyy' }}</p>
</div>
@if (expanded) {
  <div class="user-item__details">
    <div class="user-item__details-grid">
      <div class="user-item__details-field">
        <span class="user-item__details-label">Username</span>
        <span class="user-item__details-value">{{ user().username }}</span>
      </div>
      <div class="user-item__details-field">
        <span class="user-item__details-label">Age</span>
        <span class="user-item__details-value">{{ user().age }}</span>
      </div>
      <div class="user-item__details-field">
        <span class="user-item__details-label">Gender</span>
        <span class="user-item__details-value">{{ user().gender }}</span>
      </div>
      <div class="user-item__details-field">
        <span class="user-item__details-label">City</span>
        <span class="user-item__details-value">{{ user().city }}</span>
      </div>
      <div class="user-item__details-field">
        <span class="user-item__details-label">Country</span>
        <span class="user-item__details-value">{{ user().country }}</span>
      </div>
    </div>
  </div>
}
