@use 'ease/ease-import.scss' as *;

:host {
  .user-item {
    align-items: center;
    border-bottom: 1px solid $color-fog;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    padding: $spacing-m $spacing-m $spacing-m $spacing-xxxxl;
    color: $color-night;
    cursor: pointer;
    &:hover {
      background-color: $gray-light-25;
    }

    @include media-breakpoint-down(s) {
      padding-left: 24px;
    }

    &__image {
      border-radius: 20%;
      height: 40px;
      width: 40px;
    }

    &__name,
    &__email,
    &__phone {
      margin: $spacing-m;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
    }

    &__name {
      flex: 1;
      min-width: 100px;
    }

    &__email {
      width: 220px;

      @include media-breakpoint-down(s) {
        display: none;
      }
    }

    &__phone {
      width: 110px;

      @include media-breakpoint-down(s) {
        display: none;
      }
    }

    &__nat {
      margin-left: 12px;
      text-align: right;
      width: 80px;

      @include media-breakpoint-down(s) {
        display: none;
      }
    }

  }

  .user-item__details {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms ease-out;

    &--expanded {
      grid-template-rows: 1fr;
    }
  }

  .user-item__details-inner {
    overflow: hidden;
    display: flex;
    gap: $spacing-xl;
    padding: 0 $spacing-l 0 $spacing-xxxxl * 3;
    background-color: $color-ice;
    border-bottom: 1px solid $color-fog;
    transition: padding 300ms ease-out;

    @include media-breakpoint-down(s) {
      padding-left: $spacing-xxl;
    }
  }

  .user-item__details--expanded .user-item__details-inner {
    padding-top: $spacing-l;
    padding-bottom: $spacing-l;
  }

  .user-item__details-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-m $spacing-xxl;
    flex: 1;

    @include media-breakpoint-down(s) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .user-item__details-field {
    display: flex;
    flex-direction: column;
    gap: $spacing-xxs;

    @include media-breakpoint-down(s) {
      flex-direction: row;
      justify-content: space-between;
    }

    &--mobile-only {
      display: none;

      @include media-breakpoint-down(s) {
        display: flex;
      }
    }
  }

  .user-item__details-label {
    font-size: $font-size-tiny;
    font-weight: $font-weight-semi;
    color: $color-steel;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .user-item__details-value {
    font-size: $font-size-normal;
    color: $color-night;
  }
}
