@use 'ease/ease-import.scss' as *;

:host {
  display: block;
  .user-list {
    background-color: $color-white;
    border-radius: $border-size-m;
    border: 1px solid $color-fog;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1600px;
    width: calc(100vw - 64px);
    padding: 0;
    overflow: hidden;

    @include media-breakpoint-down(s) {
      width: calc(100vw - $spacing-l);
    }
  }

  .viewport {
    height: calc(100vh - 140px);
  }

  .column-header {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 $spacing-l 0 40px;
    border-bottom: 1px solid $color-fog;
    background-color: $color-fog;
    color: $color-midnight;
    font-weight: $font-weight-semi;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    @include font-size(xs);

    @include media-breakpoint-down(s) {
      padding-left: 24px;
    }

    &__photo {
      width: 40px;
    }

    &__name {
      flex: 1;
      min-width: 100px;
      margin: 12px;
      margin-left: 0;
    }

    &__email {
      width: 220px;
      margin: 12px;
    }

    &__phone {
      width: 110px;
      margin: 12px;

      @include media-breakpoint-down(s) {
        display: none;
      }
    }

    &__nat {
      width: 80px;
      margin-left: 12px;
      text-align: right;

      @include media-breakpoint-down(s) {
        display: none;
      }
    }
  }

  .group-header {
    display: flex;
    align-items: center;
    min-height: 60px;
    height: 60px;
    box-sizing: border-box;
    padding: 0 $spacing-xxl;
    gap: $spacing-s;
    flex-shrink: 0;
    background-color: $color-sky;
    border-bottom: 1px solid $color-fog;
    cursor: pointer;
    font-weight: $font-weight-semi;
    color: $color-night;

    @include font-size(l);

    @include media-breakpoint-down(s) {
      padding-left: 24px;
    }

    &:hover {
      background-color: $color-fog;
    }

    &--expanded {
      background-color: $color-sky;

      &:hover {
        background-color: $color-sky;
      }
    }

    &__arrow {
      width: 20px;

      @include font-size(s);
    }

    &__name {
      flex: 1;
    }
  }
}
