@use 'ease/ease-import.scss' as *;

:host {
  .user-list {
    background-color: $color-white;
    border-radius: 18px;
    border: 6px solid $color-sky;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 90%;
    padding: 12px;
  }

  .example-viewport {
    height: 80vh;
  }
}
