@if (rows().length) {
  <article class="user-list">
    <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
      <div *cdkVirtualFor="let row of rows()">
        @if (row.type === 'header') {
          <div class="group-header">{{ row.name | countryName }} ({{ row.count }})</div>
        } @else {
          <app-user-item [user]="row.user" />
        }
      </div>
    </cdk-virtual-scroll-viewport>
  </article>
} @else {
  <article class="user-list">
    <p>Loading…</p>
  </article>
}
