@if (rows().length) {
  <article class="user-list">
    @for (
      row of rows();
      track row.type === 'user'
        ? row.user.login?.uuid
        : 'name' in row
          ? row.name
          : null
    ) {
      @if (row.type === 'header') {
        <div
          class="group-header"
          [class.group-header--expanded]="row.expanded"
          (click)="onHeaderClick(row.name)"
        >
          @if (criterion() === 'nationality') {
            <span class="group-header__flag">{{ row.name | countryFlag }}</span>
            <span class="group-header__name">{{ row.name | countryName }}</span>
          } @else {
            <span class="group-header__name">{{ row.name }}</span>
          }
          <span class="group-header__count">{{ row.count }} users</span>
        </div>
      } @else if (row.type === 'column-header') {
        <div class="column-header">
          <!-- <span class="column-header__photo"></span> -->
          <span class="column-header__name">Name</span>
          <span class="column-header__email">Email</span>
          <span class="column-header__phone">Phone</span>
          <span class="column-header__nat">Registered</span>
        </div>
      } @else {
        <app-user-item [user]="row.user" />
      }
    }
  </article>
} @else {
  <article class="user-list">
    <p>Loading…</p>
  </article>
}
